body {
    font-size: 18px;

    background-color: #ffe;
    color: #210;
}

#contenedor {
    max-width: 40ch;
    margin: 2rem auto;
    padding: 1rem;
}

.titulo {
    font-size: 2rem;
    text-align: center;
}

.parrafo {
    font-family: serif;
}

.importante {
    font-size: 1.3rem;
    background-color: #cee;
}

#primer-parrafo em {
    font-weight: bold;
    color: #933;
}

#contenedor a, a{
    outline: 1px solid #333;
}

p.novelas a:hover {
    text-decoration: underline;
    background-color: #ccd;
}

html body p.fuente.parrafo{
    opacity: 100%;
}
html body p.fuente.parrafo a{
    color: #000;
}

.complicado {
    color: #c62 !important;
    font-style: bold;
}
